
.herobannerbackground {
    background-image: url("./src/BkrndImage.jpg");
  }

  .PetsButton {
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    text-align: center;
    margin-top: 30px;
  }
  
  .PetsButton.Right {
    text-align: right; 
    padding-right: 200px;
  }

  .Bio {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 35px;
    position: relative;
  }
